<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Affix</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body style="background-image: url('../img/bg3.jpg');background-size:cover;">
		<div class="container" style="width:850px">
		     <div class="row header" style="height:240px">
		     	#parse("./templates/layout/header.vm")
		     </div>
		     <div class="row box">
		     	#parse("./templates/layout/menu.vm")

##		     </div>
##		</div>
##	</body>
##</html>